Options -Multiviews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]

AddType text/css .css
AddType text/javascript .js

<FilesMatch "\.css$">
    ForceType text/plain
</FilesMatch>